<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="1.0.10" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="TasksOnTime" version="3.0.6.1-beta" targetFramework="net45" />
  <package id="TasksOnTime.Scheduling" version="0.9.1.2-beta" targetFramework="net45" />
</packages>